<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-consol-watermarking"
        version="1.0.0">
    <name>cordova-plugin-consol-watermarking</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/SpatialVision/cordova-plugin-consol-watermarking.git</repo>
    <issue>https://github.com/SpatialVision/cordova-plugin-consol-watermarking/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <!-- This is the window variable name you want, like window.ConsolWatermarking -->
            <clobbers target="ConsolWatermarking"/>
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ConsolWatermarking">
                <param name="android-package" value="com.yarris.cordova.consol.watermarking.ConsolWatermarking"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>

        <source-file src="src/android/ConsolWatermarking.java" target-dir="src/com/yarris/cordova/consol/watermarking"/>

        <framework src="com.vinaygaba:rubberstamp:1.0.0" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="ConsolWatermarking"/>
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ConsolWatermarking">
                <param name="ios-package" value="ConsolWatermarking" onload="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/ConsolWatermarking.h"/>
        <source-file src="src/ios/ConsolWatermarking.m"/>
    </platform>
</plugin>
